.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #240202;
    color: #ff0000;
  }
  
  .nav-links {
    display: flex;
    list-style: none;
  }
  
  .nav-links li {
    margin: 0 1rem;
  }
  
  .nav-links a {
    color: #ff0000;
    text-decoration: none;
  }
  

  .logo{
    font-size: 2rem;
    font-weight: bold;
    color:  #E50914;
    font-family: 'Orbitron', sans-serif;
  }