.welcome-page {
    text-align: center;
    padding: 5rem;
    background-color: #ffdddd;
  }
  
  .welcome-page h1 {
    font-size: 3rem;
    color: #ff0000;
  }
  
  .get-started {
    margin-top: 2rem;
    padding: 1rem 2rem;
    background-color: #ff0000;
    color: rgb(244, 238, 238);
    border: none;
    font-weight: bolder;
    cursor: pointer;
  }
  